body {
    background-color: lightgray;
}

#recipe {
    height: auto;
    width: 1000px;
    border: 2px solid black;
    box-shadow: 10px 10px 15px black;
    background-color: antiquewhite;
    padding: 50px 0;
    margin: 50px auto;
}

h1 {
    text-align: center;
}

img {
    height: auto;
    width: 600px;
    display: block;
    margin: 50px auto;
    border-radius: 2%;
}

#reduce-image {
    width: 450px;
}

#information {
    width: 600px;
    margin: 0 auto;
}

h2 {
    padding-top: 8px;
}